#leftbox{
    float:left;
    width:310px;
	margin-bottom:15px;
}
#rightbox{
    float:left;
    width:310px;
    border-top:1px solid white;
    padding-top: 5px;
}

#weekday {
	margin-bottom: 15px;
}
