#leftbox{
    float:center;
    width:100%;
	margin-bottom:15px;
}
#rightbox{
    float:center;
    width:100%;
    border-top:1px solid white;
    padding-top: 5px;
}

#weekday {
	margin-bottom: 15px;
}
